/*------------> Globales <-----------*/

body {
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  font-family: "Be Vietnam Pro";
  font-size: 16px;
}
.flex {
  display: flex;
}

/*------------> Navegacion <-----------*/
.menuNavegacion {
  display: flex;
  justify-content: space-evenly;
  padding: 80px 0px 40px 0px;
}
.burguer {
  width: 50px;
  height: 50px;
}
/*------------> URL despues del logo <-----------*/
.navegacionTop {
  display: flex;
  color: #242e52;
  font-size: 13px;
  font-weight: 500;
  list-style: none;
  width: 30%;
  justify-content: space-around;
}

p a {
  margin-right: 30px;
}

/*------------> Propiedades Boton Generico <----------- */
.boton {
  background-color: rgb(
    139,
    72,
    191
  ); /*------------>Cambio a RGB para poder ver la transparencia luego en HOVER <-----------*/
  width: 134px;
  height: 44px;
  border: none;
  font-size: 13px;
  font-weight: 500;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.boton a {
  color: white;
  text-decoration: none;
}
/*------------> Primera seccion = Imagen principal + H1 <-----------*/
.primeraSeccion {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}
.tituloPortada {
  text-align: right;
  width: 450px;
}
.tituloPortada h1 {
  font-size: 50px;
  font-weight: 700;
  color: #232c50;
}
/*------------> Contenido Principal <-----------*/

.principal {
  margin-top: 100px;
}

/*------------> Segunda Seccion = H2 + P <-----------*/
.segundaSeccion {
  display: flex;
  background-color: #8b48bf;
  justify-content: center;
  color: #ffffff;
  padding: 40px 0px 80px 0px;
  height: 60px;
}
.segundaSeccion h2 {
  font-size: 36px;
  font-weight: 700;
  width: 540px;
  margin: 10px 0px;
}
.segundaSeccion p {
  font-size: 16px;
  font-weight: 500;
  width: 480px;
  margin: 10px 0px;
}

/*------------> Estilo de las Cards <-----------*/
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 430px;
  padding-top: 40px;
  background-color: #fafafa;
  justify-content: center;
}
.card {
  width: 550px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px 20px 20px 40px;
}
.boton2 {
  background-color: rgb(139, 72, 191);
  width: 69px;
  height: 43px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
}
.tituloCard {
  font-weight: bold;
}
.tituloCard span {
  margin-left: 23px;
}
.descripcionCard {
  width: 440px;
  height: 105px;
  color: #b3b2b7;
  margin-left: 95px;
}
/*------------> Seccion Best Of The Month <-----------*/
.bestMonth h1 {
  font-size: 39px;
  text-align: center;
  color: #242e53;
  padding-top: 60px;
}
.containerMonth {
  padding-top: 70px;
  display: flex;
  justify-content: center;
}
.cardMonth {
  width: 426px;
  height: 220px;
  background-color: #fafafa;
  text-align: center;
}
.cardMonth h2 {
  color: #3f4868;
  font-size: 16px;
}
.cardMonth p {
  color: #b9b9c1;
  font-size: 16px;
  line-height: 175%;
}
.cardMonth img {
  margin-top: -35px;
}
.More {
  text-align: center;
  margin: 45px 0px 180px 0px;
}
/*------------> apartado/seccion <-----------*/
.goforIt {
  height: 224px;
  background-color: #8b48bf;
}
.containerGo {
  width: 100%;
  height: 95px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.goforIt h1 {
  font-size: 40px;
  color: #ffffff;
  width: 500px;
}
.goforIt .boton {
  background-color: #ffffff;
}
.goforIt .boton a {
  text-decoration: none;
  color: #8b48bf;
}
/*------------> Estilo Footer <-----------*/
.footerNav {
  height: 100%;
  width: 100%;
  background-color: #1e1e26;
  display: flex;
  justify-content: center;
}
.footerContainer {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  height: 247px;
  justify-content: space-between;
  align-content: center;
}
.logos {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
  order: 3;
}
.logos .logoFooter {
  width: 120px;
  height: 25px;
}
.logoContainer {
  justify-content: center;
}
.logoContainer img {
  width: 20px;
  height: 20px;
  margin: 8px 10px;
}
.navFooter00 {
  width: 25%;
  display: flex;
  justify-content: space-between;
  order: 2;
}
.navFooter01 {
  list-style: none;
  line-height: 200%;
  margin: 0;
  padding: 0;
}
.navFooter01 a {
  color: white;
  text-decoration: none;
}
.formFooter {
  width: 25%;
  display: flex;
  justify-content: space-around;
  order: 1;
}
#suscribe {
  width: 200px;
  height: 40px;
  border-radius: 50px;
}
.formFooter .boton {
  width: 60px;
  height: 40px;
}
.copyRight {
  font-size: 12px;
  color: #8c8c94;
  order: 4;
  text-align: center;
  min-width: 345px;
}
/*------------> DISPLAY:NONE "DESAPARECER"<-----------*/

.displayNone {
  display: none;
}
/*------------> Transparencia de las URL y Boton <-----------*/
p a:hover {
  color: #242e5299;
}
.boton:hover {
  background-color: rgba(139, 72, 191, 0.7);
  cursor: pointer;
}
.goforIt .boton:hover {
  background-color: rgba(139, 72, 191, 0.7);
  cursor: pointer;
}
.goforIt .boton a:hover {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

/*------------> Media queries <-----------*/

@media screen and (max-width: 480px) {
  .menuNavegacion {
    justify-content: space-around;
    align-items: center;
  }
  .menuNavegacion .navegacionTop,
  .menuNavegacion .boton {
    display: none;
  }
  .menuNavegacion .displayNone.burguer {
    display: inline;
  }
  .primeraSeccion {
    flex-direction: column;
    margin-top: 20px;
  }
  .segundaSeccion {
    background-color: #3cddf3;
    flex-direction: column;
    height: auto;
  }
  .segundaSeccion h2,
  .segundaSeccion p {
    width: 100%;
  }
  .cardContainer {
    justify-content: space-between;
  }
  .tituloCard {
    background-color: #8b48bf4d;
    width: 100%;
    border-radius: 50px 0px 0px 50px;
  }
  .cardContainer .descripcionCard {
    width: 95%;
    margin-left: 0px;
  }
  .cardMonth.Navarro,
  .cardMonth.Sanyo {
    display: none;
  }
  .bestMonth h1 {
    padding-top: 160px;
  }
  .More {
    margin: 0px;
  }
  .goforIt {
    text-align: center;
    width: 100%;
    background-color: #3cddf3;
    height: 300px;
  }
  .goforIt h1 {
    width: 100%;
  }
  .goforIt .boton {
    background-color: #232c50;
  }
  .goforIt .boton a {
    color: #ffffff;
  }
  .containerGo {
    margin: 30px 0px 0px 0px;
    height: 85%;
    align-items: center;
    flex-direction: column;
  }
  .footerContainer {
    flex-direction: column;
    height: 450px;
    padding-top: 50px;
  }
  .formFooter,
  .navFooter00,
  .logos {
    width: auto;
  }
  .logos {
    flex-direction: column-reverse;
    width: 350px;
  }
  .logos .logoFooter {
    width: 100%;
    padding-top: 40px;
  }
  .copyRight {
    min-width: 300px;
  }
  .logoContainer {
    display: flex;
    justify-content: space-between;
  }
}
