body {
  background-origin: #fafafa;
  margin: 0px;
  padding: 0px;
  font-family: "Be Vietnam Pro";
}
/*------------> Navegacion <-----------*/
.menuNavegacion {
  display: flex;
  justify-content: space-around;
  padding: 80px 40px 40px 40px;
}
/*------------> URL despues del logo <-----------*/
.navegacionTop {
  display: flex;
  margin-right: 50px;
  color: #242e52;
  font-size: 13px;
  font-weight: 500px;
}

p a {
  margin-right: 30px;
}

/*------------> Propiedades Boton Generico <----------- */
.boton {
  background-color: rgb(
    139,
    72,
    191
  ); /*------------>Cambio a RGB para poder ver la transparencia luego en HOVER <-----------*/
  width: 134px;
  height: 44px;
  border: none;
  font-size: 13px;
  font-weight: 500px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.boton a {
  color: white;
  text-decoration: none;
}
/*------------> Primera seccion = Imagen principal + H1 <-----------*/
.primeraSeccion {
  display: flex;
  padding-top: 100px;
  padding-left: 180px;
  padding-right: 170px;
}
.tituloPortada {
  text-align: right;
  padding-left: 50px;
}
.tituloPortada h1 {
  font-size: 50px;
  font-weight: 700;
  color: #232c50;
}
/*------------> Contenido Principal <-----------*/

.principal {
  margin-top: 100px;
}

/*------------> Segunda Seccion = H2 + P <-----------*/
.segundaSeccion {
  display: flex;
  background-color: #8b48bf;
  width: 100%;
  color: #ffffff;
  padding: 40px 220px 80px 220px;
  height: 60px;
}
.segundaSeccion h2 {
  font-size: 36px;
  font-weight: 700;
  width: 540px;
  margin: 10px 0px;
}
.segundaSeccion p {
  font-size: 16px;
  font-weight: 500;
  width: 480px;
  margin: 10px 0px;
}

/*------------> Estilo de las Cards <-----------*/
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  width: 1440x;
  height: 160px;
  margin-top: 40px;
  background-color: #fafafa;
  justify-content: center;
}
.card {
  width: 550px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}
.boton2 {
  background-color: rgb(139, 72, 191);
  width: 69px;
  height: 43px;
  border: none;
  font-size: 16px;
  border-radius: 50px;
  color: #ffffff;
  font-weight: bold;
}
.tituloCard {
  font-weight: bold;
}
.tituloCard span {
  margin-left: 23px;
}
.descripcionCard {
  width: 440px;
  height: 105px;
  color: #b3b2b7;
  margin-left: 95px;
}

/*------------> Transparencia de las URL y Boton <-----------*/
p a:hover {
  color: #242e5299;
}
.boton:hover {
  background-color: rgba(139, 72, 191, 0.7);
}
